@import '../../../variables';
@import '../../../common';

.layout {
  background-color: $INVERSE_SURFACE;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;

  &__bg {
    height: 100%;

    &__graphic {
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.9;
      max-height: 800px;
      height: calc(100vh - 100px);
      transition: all 1s;
    }
  }

  &__form {
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);

    max-height: 90vh;
    max-width: 500px;
    width: 85vw;
    padding: 24px 36px;
    border-radius: 24px;
    box-sizing: border-box;
    overflow: auto;
    background: $SURFACE;
    box-shadow: 1px 1px 40px 2px $ON_PRIMARY_CONTAINER;
    transition: left 1s;

    &__heading {
      // text-align: center;
      color: $GRAY_5;
      margin: 0.3em 0 1em;
    }

    &__btn {
      margin: 20px 0;
      width: 100%;
      font-size: 15px;

      &_google,
      &_github {
        color: $GRAY_5;
        border: 1.5px solid $GRAY_2;

        &__icon {
          height: 24px;
          width: 24px;
          margin: 0 12px;
        }
      }
    }

    &__forgotPasswordText {
      text-align: end;
      font-size: 14px;

      span {
        color: $PRIMARY;
        cursor: pointer;
      }
    }

    &__message1 {
      text-align: center;
      font-size: 14px;

      span {
        color: $PRIMARY;
        cursor: pointer;
      }
    }

    &__divider {
      position: relative;
      width: 100%;
      border-top: 1px solid $GRAY_2;
      margin: 36px 0;

      span {
        @include absolute-center;
        background-color: $SURFACE;
        padding: 0 10px;
        color: $GRAY_4;
      }
    }
  }
}

@media #{$MEDIA_SCREEN_BELOW_MD} {

  .layout {
    &__bg {
      &__graphic {
        opacity: 0.7;
        left: 50%;
      }
    }

    &__form {
      left: 50%;
    }
  }
}