@import '../../variables';
@import '../../common';

.gridViewContainer{
  margin: 15px 30px;
  &__items{
    display: grid;
    gap: 16px;

    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    // overflow: scroll;

    @media #{$MEDIA_SCREEN_BELOW_XS}{
      grid-template-columns: repeat(3, 1fr);
    }
    @media #{$MEDIA_SCREEN_XS_TO_SM}{
      grid-template-columns: repeat(4, 1fr);
    }
    @media #{$MEDIA_SCREEN_XM_TO_MD}{
      grid-template-columns: repeat(5, 1fr);
    }
    @media #{$MEDIA_SCREEN_MD_TO_LG}{
      grid-template-columns: repeat(6, 1fr);
    }
    @media #{$MEDIA_SCREEN_ABOVE_LG}{
      grid-template-columns: repeat(7, 1fr);
    }

  }
}
