@import '../../variables';
@import '../../common';

.logo{
  @include disable-select;
  display: inline-block;
  a{
    color: #020865;
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    
  }
}