@import '../../common';
@import '../../variables';

.container{
  @include flex-center;
  .content{
    width: 100%;
    max-width: 1200px;
    margin-top: 70px;
    margin-top: 70px;
  }
}

@media #{$MEDIA_SCREEN_BELOW_SM}{
  .container{
    .content{
      margin-top: 110px;
    }
  }
}