@import '../../common';
@import '../../variables';

.layout {
  margin-top: 70px;

  &__2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;

    .content {
      width: 100%;
      max-width: 1200px;

      &__loader {
        @include absolute-center;
      }
    }
  }

  @media #{$MEDIA_SCREEN_BELOW_SM} {
    margin-top: 117px;
  }
}