@import '../../../variables';
@import '../../../common';

.container{
  @include button;
  box-sizing:content-box;
  padding: 4px;
  border-radius: 100%;

  &:hover{
    background-color: $GRAY_1;
  }
  &:active{
    background-color: $GRAY_2;
  }
}