@import '../../variables';
@import '../../common';

.container{
  &__title{
    color: $GRAY_5;
    font-size: 14px;
    font-weight: bold;
    margin: 8px 0;
  }
  &__textfield {
    @include flex-container;
    border: 1px solid $OUTLINE;
    border-radius: 12px;
    padding: 10px;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      flex-grow: 1;
      min-width: 0;
      margin: 0 4px;

      &:focus {
        border: none;
      }

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
      }

    }

    &:focus-within{
      border: 2px solid $PRIMARY;
    }
    
  }
  
  &__error{
    color: $ERROR;
    margin: 8px 0;
    font-size: 13px;
  }
}