@import '../../../variables';
@import '../../../common';

.layout {
  display: flex;
  align-items: center;
  margin: 16px;
  height: 100%;

  section{
    flex-grow: 1;
  }

}

@media #{$MEDIA_SCREEN_BELOW_MD} {

  .layout {
    
  }
}