@import '../../../variables';
@import '../../../common';

.navbar__options {
  margin: 0 20px;
  a {
    color: $ON_SURFACE_CONTAINER;
    padding: 8px 12px;
    text-decoration: none;

    &[class="active"] {
      font-weight: bold;
    }
  }
}
@media #{$MEDIA_SCREEN_BELOW_SM}{
  .navbar__options{
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
  }
}