@mixin flex-container{
  display: flex;
  align-items: center;
}

@mixin flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin disable-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}