@import './variables';

body {
  margin: 0;
  background-color: $SURFACE;
  // font-family: 'Josefin Sans', sans-serif;
  // font-family: 'Poppins', sans-serif;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,
button,
textarea {
  font-family: inherit;
}

.c-pointer{
  cursor: pointer;
}

.c-disabled{
  cursor: not-allowed;
}

.d-none {
  display: none;
}

.mg-8{
  margin: 8px;
}

.ml-8{
  margin-left: 8px;
}
.mr-8{
  margin-right: 8px;
}
.mt-8{
  margin-top: 8px;
}
.mb-8{
  margin-bottom: 8px;
}

.size-12 {
  height: 12px;
  width: 12px;
}

.size-16 {
  height: 16px;
  width: 16px;
}

.size-20 {
  height: 20px;
  width: 20px;
}

.size-24 {
  height: 24px;
  width: 24px;
}

.size-28 {
  height: 28px;
  width: 28px;
}


.size-32 {
  height: 32px;
  width: 32px;
}

.size-36 {
  height: 36px;
  width: 36px;
}

.size-40 {
  height: 40px;
  width: 40px;
}